html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-rows: 5em auto 5em;
  grid-template-columns: auto;
  grid-gap: 1em;
  grid-template-areas:
    " header"
    "main"
    "footer";
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 3em 1fr;
  grid-template-areas:
    ". . content-top content-top"
    "content-bottom content-bottom content-top content-top"
    "content-bottom content-bottom . .";
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}